version: "3.9"

services:
  # MongoDB Catalog
  mongo_db_catalog:
    image: mongo:8.0-rc
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "27030:27017"
    volumes:
      - mongo_db_catalog_volume:/data/db
    deploy:
      restart_policy:
        condition: any

  mongo_db_catalog_ui:
    image: mongo-express:1.0.2-20-alpine3.19
    depends_on:
      - mongo_db_catalog
    ports:
      - "27032:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongo_db_catalog:27017/
      ME_CONFIG_BASICAUTH: "false"
    deploy:
      restart_policy:
        condition: any

  # MongoDB Discount
  mongo_db_discount:
    image: mongo:8.0-rc
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "27034:27017"
    volumes:
      - mongo_db_discount_volume:/data/db
    deploy:
      restart_policy:
        condition: any

  mongo_db_discount_ui:
    image: mongo-express:1.0.2-20-alpine3.19
    depends_on:
      - mongo_db_discount
    ports:
      - "27036:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongo_db_discount:27017/
      ME_CONFIG_BASICAUTH: "false"
    deploy:
      restart_policy:
        condition: any

  # Redis
  redis_db_basket:
    image: redis:7.0-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    volumes:
      - redis_db_basket_volume:/data
    deploy:
      restart_policy:
        condition: any

  redis_db_basket_ui:
    image: rediscommander/redis-commander:latest
    depends_on:
      - redis_db_basket
    ports:
      - "27033:8081"
    environment:
      REDIS_HOST: redis_db_basket
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      HTTP_USER: ${REDIS_UI_USERNAME}
      HTTP_PASSWORD: ${REDIS_UI_PASSWORD}
    deploy:
      restart_policy:
        condition: any

  # SQL Server
  sqlserver_db_order:
    image: mcr.microsoft.com/mssql/server:2022-latest
    user: root
    environment:
      SA_PASSWORD: "${MSSQL_SA_PASSWORD}"
      ACCEPT_EULA: "Y"
    healthcheck:
      test: >
        /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P "${MSSQL_SA_PASSWORD}" -Q "SELECT 1" -b -o /dev/null
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_db_order_volume:/var/opt/mssql
    deploy:
      restart_policy:
        condition: any

  # Keycloak & Postgres
  postgres_db_keycloak:
    image: postgres:16.2
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_db_keycloak_volume:/var/lib/postgresql/data
    deploy:
      restart_policy:
        condition: any

  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    command: start-dev
    depends_on:
      - postgres_db_keycloak
    ports:
      - "8081:8080"
    environment:
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT_BACKCHANNEL: "false"
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HOSTNAME_STRICT_HTTP: "false"
      KC_HEALTH_ENABLED: "true"
      KC_DB: postgres
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB_URL: jdbc:postgresql://postgres_db_keycloak/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - keycloak_data:/opt/keycloak/data
    deploy:
      restart_policy:
        condition: any

  postgres_db_keycloak_ui:
    image: dpage/pgadmin4
    depends_on:
      - postgres_db_keycloak
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - postgres_db_keycloak_ui_data:/var/lib/pgadmin
    deploy:
      restart_policy:
        condition: any

  # RabbitMQ
  rabbitmq:
    image: rabbitmq:3.13.7-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    deploy:
      restart_policy:
        condition: any

  # Microservices (stack deploy ile build çalışmaz, önceden image push etmelisin)
  microservice_basket_api:
    image: microservicebasketapi
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  microservice_catalog_api:
    image: microservicecatalogapi
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  mikroservice_discount_api:
    image: mikroservicediscountapi
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  microservice_file_api:
    image: microservicefileapi
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  microservice_gateway:
    image: microservicegateway
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  mikroservice_order_api:
    image: mikroserviceorderapi
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  microservice_payment_api:
    image: microservicepaymentapi
    deploy:
      replicas: 1
      restart_policy:
        condition: any

  mikroservice_web:
    image: mikroserviceweb
    deploy:
      replicas: 4
      restart_policy:
        condition: any

volumes:
  mongo_db_catalog_volume:
  mongo_db_discount_volume:
  redis_db_basket_volume:
  sqlserver_db_order_volume:
  postgres_db_keycloak_volume:
  postgres_db_keycloak_ui_data:
  keycloak_data:
  rabbitmq_data: